@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  header {
    padding: 4rem 3rem 8rem 3rem;
  }
  .description-block {
    flex-direction: column-reverse;
    text-align: center;
    gap: 3rem;
  }
  .description-block h1,
  .description-block p {
    width: 100%;
  }
  .description-block img {
    width: 100%;
  }
  .description-block form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .description-block input {
    width: 80%;
  }
  .description-block button {
    margin-right: 10px;
    width: 80%;
  }

  .more-info {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
  .more-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .more-info-text h2 {
    margin-bottom: 3rem;
  }
  .more-info p {
    width: 100%;
  }
  .more-info p:nth-of-type(2) {
    margin-bottom: 4rem;
  }
  .more-info img {
    grid-row: 1;
  }
  .how-it-works {
    display: inline-block;
  }
  .testimonial {
    width: 90%;
    margin: 5rem auto 0;
  }
  .cta-section {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .cta-section article {
    width: 100%;
  }
  .cta-section p {
    width: 100%;
  }
  .cta-section form {
    width: 100%;
  }
  .cta-section input {
    width: 80%;
  }
  .cta-section button {
    width: 80%;
  }
  footer {
    padding-right: 10rem;
    font-size: 20px;
  }
  .footer-cont {
    flex-direction: column;
    gap: 5rem;
  }
  .phone-text,
  .email-text,
  .footer-cont ul {
    font-size: 1.8rem;
  }
  .icons {
    align-self: center;
  }

  /* FIXING FLEXGAP IN SAFARI 14.5 BELOW  */

  .no-flexbox-gap nav ul li:not(:last-child) {
    margin-right: 3rem;
  }
}

/* FOR MOBILE PHONES */
@media (max-width: 430px) {
  nav img {
    width: 10rem;
  }
  nav ul {
    gap: 2rem;
  }
  .description-block h1 {
    font-size: 2.8rem;
  }
  .description-block p {
    font-size: 1.5rem;
    width: 95%;
  }
  .description-block input,
  .description-block button {
    width: 90%;
  }
  .more-info {
    padding: 5rem 3rem 10rem 3rem;
  }
  .more-info-text h2 {
    font-size: 2rem;
  }
  .more-info-text p {
    font-weight: 400;
  }
  .testimonial {
    padding-right: 1rem;
    padding-bottom: 3rem;
    line-height: 1.6;
  }
  .testimonial p {
    font-size: 1.2rem;
    opacity: 1;
  }
  .cta-section {
    /* padding: 10rem 6rem 10rem 6rem; */
    padding-left: 5rem;
  }
  .cta-section article {
    text-align: center;
  }

  .cta-section h2 {
    font-size: 2.5rem;
    width: 100%;
  }
  .cta-section p {
    width: 95%;
    line-height: 1.6;
  }
  .cta-section form {
    align-items: center;
  }
  .cta-section input,
  .cta-section button {
    width: 90%;
  }
  footer {
    padding-right: 15px;
  }

  /* FIXING FLEXBOX GAP IN SAFARI 14.5 BELOW */

  .no-flexbox-gap nav ul li:not(:last-child) {
    margin-right: 2rem;
  }
  .no-flexbox-gap .description-block img {
    margin-bottom: 3rem;
  }
  .no-flexbox-gap .description-block input {
    margin-bottom: 2rem;
  }
  .no-flexbox-gap .fylo-illustration {
    margin-bottom: 4rem;
  }
  .no-flexbox-gap .ceo-info {
    margin-left: 7px;
  }
  .no-flexbox-gap .footer-cont li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .no-flexbox-gap .phone-text {
    margin-bottom: 1.5rem;
  }
  .no-flexbox-gap .contact img {
    margin-right: 1.5rem;
  }
  .no-flexbox-gap .hov-footer:not(:last-of-type) {
    margin-bottom: 5rem;
  }
  .no-flexbox-gap .icons a:not(:last-child) {
    margin-right: 1rem;
  }
  .no-flexbox-gap .cta-section article {
    margin-bottom: 2rem;
  }
}

@media (max-width: 375px) {
  nav img {
    width: 9rem;
  }
  nav ul {
    gap: 1rem;
  }

  .attribution {
    font-size: 12px;
  }
}
/* FIXING FLEXBOX GAP IN SAFARI 14.5 BELOW */
.no-flexbox-gap nav li:not(:last-child) {
  margin-right: 1rem;
}
